.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffa39b;
  padding: 20px;
}


.form-content {
  width: 400px;
  max-width: 90%;
  padding: 40px 30px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 25px;
  text-align: center;
}

.form {
  width: 100%;
  background: none;
  border: none;
}

.form h2 {
  text-align: center;
  color: #6c5b7b;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  
}

.input-group input {
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  /* background-color: white; */
}

.input-group input:focus {
  outline: none;
  border-color: #ffd400;
  background: #ffffff;
  box-shadow: 0 0 0 3px rgba(255, 212, 0, 0.25);
} 


.avatar-group {
  display: flex;
  align-items: center;
  gap: 10px;
  
}

.file-input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  width: 80%;
}

.avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  
}
.authBtn {
  width: 100%;
  background: #ffd400;
  color: #fff;
 border: 2px solid white;
  padding: 14px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease;
   box-shadow:  0 2px 8px rgba(0, 0, 0, 0.2); 
}

button:hover {
  background: #ffea00;
  transform: translateY(-2px);
  color: black;
}
.form-links {
  text-align: center;
  font-size: 14px;
  color: #555;
  margin-top: 10px;
}

.form-links a {
  color: #ff6b6b;
  cursor: pointer;
  font-weight: 600;
  transition: color 0.3s ease;
}

.form-links a:hover {
  text-decoration: underline;
}

.pointer {
  cursor: pointer;
  color:  #6C5B7B; 
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  min-height: 100vh;
  width: 100%;
}
.update-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 100%;
  margin-top: 70px;
}
.forgot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 100%;
  margin-top: 30px;
}
.email-group {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}

@media (max-width: 768px) {
  .container {
    padding: 15px;
  }

  button {
    font-size: 14px;
    padding: 10px;
  }

  .input-group input {
    padding: 12px;
    font-size: 14px;
  }

  .tab {
    font-size: 14px;
  }
  .update-container {
    margin-top: 60px;
  }
}
