
.update-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 1rem;
   background:  #FFF6EC;
}


.form-content {
  width: 100%;
  max-width: 400px;
  background:  #FFF6EC;
  padding: 2.5rem 2rem;
  border-radius: 20px;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease;
} 

.form-content:hover {
  transform: translateY(-3px);
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.12);
}


.form h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 600;
  color: #333;
  letter-spacing: 0.5px;
  background: none;
}


.input-group {
  margin-bottom: 1.5rem;
}

.input-group input {
  width: 100%;
  padding: 14px 16px;
  border-radius: 12px;
  border: 1px solid #ddd;
  font-size: 0.95rem;
  outline: none;
  transition: all 0.3s ease;
  background: #f9fafc;
}

.input-group input:focus {
  outline: none;
  border-color: #ffd400;
  background: #ffffff;
  box-shadow: 0 0 0 3px rgba(255, 212, 0, 0.25);
} 


/* Button */
.authBtn {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: 2px solid white;
  background: #ffd400;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
   font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease;
   box-shadow:  0 2px 8px rgba(0, 0, 0, 0.2);
}

/* Button Hover */
.authBtn:hover {
 background: #ffea00;
  transform: translateY(-2px);
  color: black;
}


.authBtn:active {
  transform: scale(0.98);
}


@media (max-width: 480px) {
  .form-content {
    padding: 2rem 1.5rem;
  }

  .form h2 {
    font-size: 1.3rem;
  }
}
