.profile-header {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px 15px;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 1000;
  transition: background-color 0.3s ease;
  margin-right: 20px;
  margin-bottom: 5px;
  background: none;
}

.profile-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
  object-fit: cover;
  border: 2px solid #5c4a6f;
}

.profile-name {
  font-size: 18px;
  font-weight: bold;
  color: #ff6a2b;
}

.menu-options {
  padding: 15px;
  border-radius: 8px;
  position: fixed;
  top: 65px;
  right: 20px;
  width: 150px;
  z-index: 1000;
  background: none;
}

.menu-option-btn {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 8px;
  background: #ffd400;
  color:  #333333;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border: 2px solid white;
}

.menu-option-btn:hover {
  background: #f8b5b1;
  transform: translateY(-2px);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 0.3s ease,
    visibility 0s 0.3s;
  z-index: 999;
}

.overlay.show {
  visibility: visible;
  opacity: 1;
  transition:
  opacity 0.3s ease,
  visibility 0s 0s;
}

.cart-not-empty {
  background-color: #f8b5b1;
  color:#333333; 
}
/* 1400 */
@media (max-width: 1400px) {
  .profile-header {
    right: -50px;
  }
  .profile-name {
    font-size: 16px;
    font-weight: bold;
    color: #ff6a2b;
  }

  .profile-avatar {
    width: 40px;
    height: 40px;
    margin-top: 8px;
    margin-right: 15px;
  }
  .menu-options {
    top: 70px;
    right: -10px;
  }
}

/* 780 */
@media (max-width: 780px) {
  .profile-header {
    top: 5px;
    right: -40px;
  }

  .profile-avatar {
    width: 40px;
    height: 40px;
    margin-top: 8px;
  }

  .menu-options {
    top: 70px;
  }
}
/* 480 */
@media (max-width: 480px) {
  .profile-avatar {
    width: 35px;
    height: 35px;
    margin-top: 10px;
    margin-right: 15px;
  }

  .menu-options {
    top: 70px;
  }
}
