.home-container {
  padding: 2rem;
  color: #EAE7E0; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
  
}

  /* background: #ff6a2b; */
  .home-heading {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color:#FF6A2B;
    text-shadow:  0 2px 8px rgba(0, 0, 0, 0.2); 
    text-align: center;
}
  
.home-container hr{
  width: 200px;
  height: 6px;
  border-radius: 10px;
  background: #252525;
  margin-bottom: 1rem;
}

  
  .home-product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3.5rem;
        width: 100%;
    max-width: 1200px;
    padding: 1rem;
}
  
@media (max-width: 900px) {
  .home-product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 7rem;
}
  
}
