.products-layout {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  margin-top: 100px;
}

.filter-section {
  flex: 0 0 250px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

}

.dropdown{
  margin-left: 1px;
  margin-bottom: 2px;

}

.filter-heading {
  color:#FF6A2B;
  text-shadow:  0 2px 8px rgba(0, 0, 0, 0.2); 
  margin-bottom: 10px;
  cursor: pointer;
}

.filter-section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.filter-section li {
  margin: 10px 0;
  padding: 8px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  transition: background-color 0.3s;
  border-radius: 4px;
  color: #5C4A6F; 
}






.filter-section li:hover {
  background-color: #efefef;
}

.filter-section li.active {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

.products-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.products-product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}


.no-products-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--text-primary);
}

.women_banner{
  display: block;
  margin: 30px auto;
  width: 82%;
}


@media (max-width: 768px) {
  .products-layout {
    flex-direction: column;
  }

  .filter-section {
    width: 100%;
  }
  .women_banner{
  display: block;
  margin: 65px auto;
  width: 82%;
  
}
}
