.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 40px auto 0; /* center horizontally */
  width: 100%;
  flex-wrap: wrap;
}

/* Pagination button */
.pagination-btn {
  min-width: 40px;
  height: 40px;
  padding: 0 14px;
  border-radius: 6px;
  border: 1px solid #ddd;
  background-color: #000000;
  color: white;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.25s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hover */
.pagination-btn:hover {
  background-color: #f5f5f5;
  border-color: #2E2E3C;
  color: #2E2E3C;
}

/* Active */
.pagination-btn.active {
  background-color: white;
  border-color: #2E2E3C;
  color: #2E2E3C;
  cursor: default;
}

/* Disabled */
.pagination-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}



@media (max-width: 768px) {
  .pagination {
    gap: 6px;
    margin-top: 25px;
  }

  .pagination-btn {
    min-width: 34px;
    height: 34px;
    font-size: 13px;
    padding: 0 10px;
  }
}
