.product_id {
  text-decoration: none;
  color: inherit;
}

.product-grid {
  display: grid;
  margin: 2rem 0;
  padding: 0 1rem;
}

.add-to-cart {
  display: block;
  margin: 0 auto;
}

.rating_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1200px) {
  .product-grid {
      grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .product-grid {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .product-grid {
      grid-template-columns: 1fr;
  }
}

.product-card {
   color: #383838;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.15); 
  text-align: center;
  width: 250px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;

}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); 
}

.product-image-card {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  max-height: 200px;
}

.product-details {
  padding: 1rem;
}

.product-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #383838;
}

.product-description {
  font-size: 0.9rem;
  color: #383838;
  margin-bottom: 0.5rem;
}

.home-price {
  font-size: 1rem;
  font-weight: bold;
   margin-bottom: 1rem;
}

.add-to-cart {
  background: #ffd400;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 0.5rem;
  border: 2px solid white;
}

.add-to-cart:hover {
   background: #ffea00;
}
