.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}
.update-user-role-container {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  height: 350px;
}
.update-user-role-form {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.btn {
  padding: 10px;
  border-radius: 4px;
  background-color: #ff8c42;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
}

.btn:hover {
  background-color: #e9772f;
  transform: translateY(-2px);
}
